# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# next.jsサーバ
NEXT_PUBLIC_PORT="3000"

# socket.ioサーバ
NEXT_PUBLIC_SOCKET_PORT="3001"

# s3 or local
STORAGE_TYPE="local"

# STORAGE_TYPE=localの場合に使用するローカルストレージのパス
DATABASE_URL="file:./dev.db"
DATABASE="SQLite"

# STORAGE_TYPE=s3の場合に使用するAWS config（現在はminioを利用）
AWS_REGION="ap-northeast-1"
AWS_ACCESS_KEY_ID="minioadmin"
AWS_SECRET_ACCESS_KEY="minioadmin"
S3_ENDPOINT="http://localhost:9000"
S3_BUCKET_NAME="copy-slack-images"

# minIOの設定
MINIO_ROOT_USER="minioadmin"
MINIO_ROOT_PASSWORD="minioadmin"
MINIO_CONSOLE_PORT="9000"
MINIO_WEB_PORT="9001"
